@model Summary
@{
    ViewData["Title"] = "UpdateResumeSummary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-center">
    <i class="bi bi-file-earmark-text"></i>
    Update Summary Page
</h1>
<form method="post">
    <input type="hidden" asp-for="SummaryId" />
    <div class="form-group">
        @Html.Label("Name")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Address")
        <input type="text" asp-for="Address" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Description")
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Phone")
        <input type="text" asp-for="Phone" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Email")
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary">
        <i class="bi bi-save"></i>
        Update
    </button>
</form>

