@model ResumeViewModel

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            @if (Model.Summary != null)
            {
                <p>@Model.Summary.Description</p>
            }
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                @if (Model.Summary != null)
                {
                    <div class="resume-item pb-0">
                        <h4>
                            @Model.Summary.Name
                        </h4>
                        <p><em>@Model.Summary.Description</em></p>

                        <p>
                            <i class="bi bi-geo-alt"></i>
                            @Model.Summary.Address
                        </p>
                        <p>
                            <i class="bi bi-telephone"></i>
                            @Model.Summary.Phone
                        </p>
                        <p>
                            <i class="bi bi-envelope"></i>
                            @Model.Summary.Email
                        </p>

                    </div>
                }

                <h3 class="resume-title">Education</h3>
                @if (Model.Educations != null && Model.Educations.Any())
                {
                    @foreach (var education in Model.Educations)
                    {
                        <div class="resume-item">
                            <h4>@education.Degree</h4>
                            <h5>@education.StartYear - @education.EndYear</h5>
                            <p>
                                <i class="bi bi-journal-check"></i>
                                <em>@education.Institution</em>
                            </p>
                            <p>@education.Description</p>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                @if (Model.Experiences != null && Model.Experiences.Any())
                {
                    @foreach (var experience in Model.Experiences)
                    {
                        <div class="resume-item">
                            <h4>@experience.Position</h4>
                            <h5>@experience.StartYear - @(experience.EndYear.HasValue ? experience.EndYear.Value.ToString() : "Present")</h5>
                            <p>
                                <i class="bi bi-building"></i>
                                <em>@experience.Company</em>
                            </p>
                            <p>@experience.Description</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End Resume Section -->