@model PortfolioDetailsViewModel

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="~/@Model.Portfolio.ImageUrl" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Information</h3>
                    <ul>
                        <li><strong>Name</strong>: @Model.Portfolio.Title</li>
                        <li><strong>Description</strong>: @Model.Portfolio.Description</li>
                        <li><strong>URL</strong>: <a target="_blank" href="@Model.PortfolioDetails.ProjectUrl">Click!</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>@Model.PortfolioDetails.ProjectName</h2>
                    <p>
                        @Model.Portfolio.Description
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>